/* 279.4 mm de alto */

body {
    font-size: 13px;
    font-family: 'FreeSans', sans-serif;
    color: #222;
}

table {
    width: 96%;
    max-width: 96%;
    border-collapse: collapse;
    margin: auto;
}

strong, th {
    color: #111;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

div.header {
    text-transform: uppercase;
}

div.titulo {
    background: #ff7f50;
    height: 7mm;
    line-height: 7mm;
}

div.titulo p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

div.footer {
    background: #ff7f50;
    width: 100%;
}

div.footer table {
    height: 7mm;
    line-height: 7mm;

    color: #fff;
    font-weight: bold;
}

.r-border {
    border-right: 1px solid #ff7f50;
}

.b-border {
    border-bottom: 1px solid #ff7f50;
}

.t-border {
    border-top: 1px solid #ff7f50;
}

.vertical-top {
    vertical-align: top;
}

.padding-top-4 {
    padding-top: 4px;
}

/***********************************************
 *** Logotipo **********************************
 ***********************************************/

.logotipo-holder {
    width: 50mm;
    height: 16mm;
}

.logo {
    max-width:50mm;
    max-height:16mm;
    width: auto;
    height: auto;
}

/***********************************************
 *** Emisor y Receptor *************************
 ***********************************************/
table .fixed-width-left {
    width: 28mm;
}

table .fixed-width-left-logo {
    width: 12mm;
}

table .fixed-width-left-logo-2 {
    width: 36mm;
}

table .rfc {
    width: 36mm;
}

table .nombre {
    width: 20mm;
}

/***********************************************
 *** Conceptos *********************************
 ***********************************************/
table.conceptos tbody tr.concepto td {
    vertical-align: top;
    border-top: 1px solid #ff7f50;
}

table.conceptos tbody tr.no-primero td {
    padding-top: 8px;
}

table .descuento td,
table .traslados td,
table .retenciones td {
    font-size: 10px;
}

table.conceptos tr.resumen th,
table.conceptos tr.resumen td {
    border-top: 1px solid #ff7f50;
}

/***********************************************
 *** Timbre Fiscal Digital *********************
 ***********************************************/
code {
    font-size: 10px;
}

/***********************************************
 *** Pagos *************************************
 ***********************************************/
table.pago10_doctos_relacionados tbody tr.pago10_docto_relacionado td {
    vertical-align: top;
    border-top: 1px solid #ff7f50;
}

table.pago10_doctos_relacionados tbody tr.no-primero td {
    padding-top: 8px;
}

/***********************************************
 *** Leyenda al pie ****************************
 ***********************************************/
table.leyenda-pie {
    width: 100%;
    background-color: #ffffff;
}

table.leyenda-pie td {
    color: #ff7f50;
    padding: 0 2%;
}
